body {
	background:#303030;
	padding-top:50px;
	color:#333;
	font-family:Tahoma, Geneva, sans-serif;
}
.nopadding {
	margin:0 !important;
	padding:0 !important;
}
.nolftpad {
	padding-left:0;
}
.navbar {
	background:#0097DD;
	border:none;	
}
.navbar-brand ,
.navbar-brand:hover ,
.navbar-brand:focus {
	color:#FFFFFF;
}
.navbar-nav > li > a {
	color:#FFFFFF;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #303030;
  border-color: #303030;
}
#breadcrumb {
  background-color: #F2F2F2;

}
.breadcrumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;    
  border-radius: 0;
  list-style: outside none none;
  margin-bottom: 0;
  padding:15px;
  color: #aaa;  
}
.breadcrumb a ,
.breadcrumb > li + li:before {
  color: #aaa;
text-shadow: 0 1px 1px #fff;  

}
.breadcrumb a:hover ,
.breadcrumb a:focus {
  color: #333;
  text-decoration:none;
  

}
#sidebar {
	background:#303030;	
}
.nav-stacked > li + li {
  margin-top: 0;
}
.nav-tabs > li {
  margin-bottom: 0;
  border-bottom:1px solid rgba(255,255,255,0.2);  
}
.nav-tabs > li > a {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;    
  border-radius: 0;
  line-height: 1.42857;
  margin-right: 0;
  color:#fff;
}
.nav-tabs > li > a:hover {
    border-color: #FC6D00;
	color:#fff;
}
.nav > li > a:hover, .nav > li > a:focus {
   background-color: #FC6D00;
	color:#fff;  	
}
.nav-tabs .dropdown-menu {
  background-clip: padding-box;
  background-color: #333;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;  
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;    
  box-shadow: none;
  float: none;
  font-size: 14px;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 5px 0;
  position: relative;
  text-align: left;
  top: 100%;
  z-index: 1000;
}
.nav-tabs .dropdown-menu > li > a {
  color: #fff;
  line-height: 1.42857;
  white-space: normal;
}
#content {
	background:#ffffff;
	padding:15px;
	min-height:600px;	
}
footer {
	padding:15px;
	text-align:right;
}
footer a {
	color:#fff;
}


/******* FORMS *****/

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: 0;
}